:root {
    --bg-titulo-color: #13293D;
    --contenido-h2: #247BA0;
    --h5-color: #d1d0d0;
    --contenido-p: #1B98E0;
    --text-color: #ffffff;
    --bg-contenedor: #161616;
    --boton-hover: #dfbcbc;
    --primario-oscuro: #13293d;
    --primario-claro: #247ba0;
    --secundario-oscuro: #1b98e0;
    --secundario-claro: #e8f1f2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #292b2c;
    color: var(--secundario-claro);
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

a {
    color: var(--secundario-claro);
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

/* Navegacion */
.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 3rem 0 2rem 0;
    margin-bottom: 1rem;
}

.nav-brand {
    width: 50px;
}

/* Nav left */
.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px;
}

.nav-main ul li a {
    padding: 2px;
}

.nav-main ul li:hover {
    color: var(--primario-oscuro);
    background-color: var(--secundario-oscuro);
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}


/* Header */
.container-slider {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 3rem;
}

.slider {
    display: flex;
    width: 400%;
    height: 100%;
    /* Movemos la 2 imagen para JS */
    margin-left: -100%;
}

.slider-section {
    padding-top: 2rem;
    width: 100%;
}

.slider-img {
    display: block;
    width: 100%;
    height: 500px;
}

.slider-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    color: #000;

}

.slider-btn:hover {
    background: #fff;
}

.slider-btn-left {
    left: 30px;
}

.slider-btn-right {
    right: 10px;
}

/* News cards */

.titulo {
    padding: 2rem 35px;
    font-size: 30px;
}

.news-cards {
    margin: 2rem 0 3rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.news-cards img {
    width: 100%;
    height: 200px;
}

.news-cards h2 {
    font-size: 20px;
    margin: 10px 0;
}

.news-cards p {
    padding: 10px 0
}

.card {
    border: solid 1px var(--secundario-claro);
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 15px;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.redes {
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
}

.redes a {
    border: solid var(--secundario-claro) 2px;
    color: var(--secundario-claro);
    border-radius: 5px;
    font-size: 15px;
    width: 25px;
    height: 25px;
    text-align: center;
    margin: 0 3px;
}

.redes a:hover {
    background: var(--secundario-oscuro);
    transform: scale(1.2);
}

.redes a i {
    padding: 4px 0;
}

/* Galeria */
.galeria {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.galeria-left {
    max-width: 100%;
    height: 550px;
}

.galeria-right {
    max-width: 100%;
    height: 550px;
}

.galeria .galeria-left img {
    width: 45%;
    height: 45%;
}

.galeria-right img {
    grid-column: 1/3;
    width: 100%;
}

.galeria img {
    border-radius: 25px;
}

.galeria-left img:hover {
    cursor: pointer;
    opacity: .1;
    transform: scale(1.15);
}

/* .antes-footer */
.antes-footer {
    text-align: center;
    margin: 0;
    background: #292b2c;
}

.antes-footer img {
    width: 300px;
}

.suscripcion {
    display: grid;
    padding: 3rem;
    grid-template-columns: repeat(2, 1fr);
}

.suscripcion h2 {
    padding: 0 2rem 2rem 2rem;
    font-size: 50px;
}

.form h3 {
    padding: 3rem;
}

.form {
    text-align: center;
}

.form input {
    width: 80%;
    height: 35px;
}

.form input::placeholder {
    text-align: start;
    padding-left: 1rem;
    font-size: 20px;
}

.btn {
    margin: 2rem;
    width: 80%;
    height: 30px;
    background: var(--secundario-oscuro);
    font-size: 20px;
    font-weight: bold;
    border: none;
}

.btn:hover {
    background: var(--secundario-claro);
    color: var(--primario-oscuro);
    cursor: pointer;
}

/* Footer original */
footer {
    background: #181818;
    padding-top: 3rem;
}

footer .footer-title {
    color: var(--contenido-p);
    font-size: 2rem;
    text-transform: uppercase;
}

footer .footer-description {
    color: var(--text-color);
    font-style: italic;
    font-size: 1.2rem;
}

footer .footer-section-title {
    color: var(--contenido-p);
}

footer .section-description {
    color: var(--text-color);
    display: flex;
    align-items: center;
}

footer .section-description .contact-icon {
    font-size: 1.rem;
    margin-right: 0.3rem;
}

footer .social-wrapper .social-link {
    text-decoration: none;
    color: var(--text-color);
    text-align: center;
    font-size: 1.8rem;
    margin-right: 0.5rem;
}

footer .social-wrapper .social-link svg {
    padding: 0.5rem;
    border-radius: 50%;
    border: solid 1.5px #fff;
}

footer .links {
    text-decoration: none;
    color: var(--text-color);
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

footer .copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .copyright .copy {
    text-decoration: none;
    color: var(--text-color);
}

footer .copyright .terms ul {
    list-style: none;
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 1.2rem;
}

footer .copyright .terms ul li {
    margin-right: 2rem;
}

footer .copyright .terms ul li:last-child {
    margin-right: 0;
}

footer .copyright .terms ul li a {
    color: var(--text-color);
    font-weight: 500;
    text-decoration: none;
}

footer .container-arriba .row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px 100px;
}
footer .container-abajo{
    padding: 0 100px;
}
