* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .fondopagina {
    background-image: url();
    background-size: 100%;
    font-family: arial, helvetica;
    background-color: #131414;
    margin-top: 5px;
    
  }

/*MENU*/
.menu{
	list-style: none;
	padding: 10;
	background: #212325;
	width: 100%;
	max-width: 10000px;
	margin: auto;
 }

 .menu li a{
	text-decoration: none;
	color: white;
	padding: 30px;
	display: block;
  font-size: 17px;
 }

 .menu li{
	display: inline-block;
	text-align:center;
 }

 .menu li a:hover{
	background: #1164b3;
 }

 /*FORMULARIO-CONTACTO*/
 .form-register {
    width: 400px;
    background: #04172b;
    padding: 50px;
    margin:900px;
    margin-top: 50px;
    border-radius: 10px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  /*BORDE-DATOS*/
  .controls {
    width: 100%;
    background: #8babca;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 13px;
    border: 1px solid #3393ca;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align:center;
    font-size: 18px;
    line-height: 40px;
  }
  /*LETRAS-DATOS*/
  .form-register a {
    color: white;
    text-decoration: none;
  }
  /*LETRA-ENLACES*/
  .form-register a:hover {
    color: rgb(25, 58, 206);
    text-decoration: underline;
  }

  /*TEXTO-ENVIAR*/
  .form-register .botons {
    width: 100%;
    background: #0c39b6;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }

  .form-register .botons:hover {
    color: #3393ca;
  }

/*footer*/
footer {
    background: #181818;
    padding-top: 1rem;
    margin-top: -900px;
}

footer .footer-title {
    color: #1B98E8;
    font-size: 2rem;
    text-transform: uppercase;
}

footer .footer-description {
    color: #fff;
    font-style: italic;
    font-size: 1.2rem;
}

footer .footer-section-title {
    color:#1B98E8;
}

footer .section-description {
    color: #fff;
    display: flex;
    align-items: center;
}

footer .section-description .contact-icon {
    font-size: 1.rem;
    margin-right: 0.3rem;
}

footer .social-wrapper .social-link {
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    margin-right: 0.5rem;
}

footer .social-wrapper .social-link svg {
    padding: 0.5rem;
    border-radius: 50%;
    border: solid 1.5px #fff;
}

footer .links {
    text-decoration: none;
    color: #fff;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

footer .copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .copyright .copy {
    text-decoration: none;
    color: #fff;
}

footer .copyright .terms ul {
    list-style: none;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1.2rem;
}

footer .copyright .terms ul li {
    margin-right: 2rem;
}

footer .copyright .terms ul li:last-child {
    margin-right: 0;
}

footer .copyright .terms ul li a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

/*NOMBRE*/
body .titulo {
    text-align:center;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 4000px;
    color: rgb(186, 204, 219);
    font-size: 60px;
    text-decoration: none;
  }
  /*FRASE-DICHA*/
  .mensajeprom {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    color: aliceblue;
    font-size: 25px;
  }

  .fotosmusk{
    text-align: left;
    margin-bottom: 500px;
    margin-top: -2000px;
    padding-left: 50px;
    
  }

  

  